.label {
    -fx-font-size: 18;
}

#grid {
    -fx-border-width: 2px;
    -fx-border-color: #000000;
    -fx-pref-width: 1280px;
    -fx-label-padding: 0;

}

#itemGrid {
    /*-fx-border-width: 2px;*/
    /*-fx-border-color: green;*/
    -fx-pref-width: 1280px;

}

#scrollGrid {
    /*-fx-border-width: 2px;*/
    /*-fx-border-color: purple;*/
    -fx-pref-width: 1280px;
    -fx-padding: 0px 0px 0px 0px;

}

.button {
    -fx-padding: 0px 0px 0px 0px;
    -fx-font-size: 18px;
    -fx-min-height: 50px;
    -fx-min-width: 125px;
}

.scroll-pane {

    -fx-padding: 0px 0px 0px 0px;

    -fx-border-width: 2px;
    -fx-border-color: #000000;
}

#numberLabel {
    -fx-min-width: 75;

}

#nameLabel {
    -fx-min-width: 150;

}

#quantityLabel {
    -fx-min-width: 117.5;
    -fx-max-width: 117.5;

}

#priceLabel {
    -fx-min-width: 100;
    -fx-max-width: 100;
}

#numberField {
    -fx-min-width: 80px;
    -fx-padding: 0px 0px 0px 10px;

}

#nameCombo {

    -fx-min-width: 600px;
}

#quantityField {
    -fx-min-width: 115;
    -fx-max-width: 115;

}

.unitField {
    -fx-min-width: 100;
    -fx-max-width: 100;

}

.vatLabel {
    -fx-min-width: 100;
    -fx-max-width: 100;
}

.gross {
    -fx-min-width: 95;
    -fx-max-width: 95;
}

#prodRow {
    -fx-padding: 2px 0px 2px 0px;
}


